Events/*
Notebooks/*
Scratch/*
__pycache__/
Observed_Tiles/*
Settings.ini
*.pkl
*.png
docker_mysql/*
DataIngestion/CompletenessPlots/*
DataIngestion/CompletenessPlots_MWE_Overcorrected/*
DataIngestion/CompletenessRMSTest/*
DataIngestion/sfd/*
Database_Baks/*
GRBModels/*
KNModels.bak/*
KNModels/*
LinearModels/*
LogLinearModels/*
PS1_DR2_QueryData/*
DataIngestion/*.eps
DataIngestion/*.fits
DataIngestion/*.fits,0
DataIngestion/*.fits,1
DataIngestion/*.txt
.idea/*
DataIngestion/IMF_Weighted_BNS/*
Jon/*
